// COLORS
$primary-color: #3b5375;
$secondary-color: #ebebca;
$neutral-color: #e6e6e6;
$darknes-color: #11305c;
$ornament-color: #ff6600;
$ornament-sec-color: #7aaba6;
$sky-color: #cee2e6;
$ornament2-color: #e89660;

// colores para fuentes
$font-color: #808080;
$font-color-dos: #57595b;
$grey-light-color: #f8f8f8;
$link-color: #0040FF;

//Colores para secciones
$aqua-green-color: #a2e0da;
$violet-color: #5c3144; // enseñanza
$green-color: #0a6c82;
$bluegrey-color: #5d7d80;
$red-color: #6E223B;
$orange-color: #855550;
$light-green-color: #99b953; //institucional
$light-violet-color: #BA68C8;
$blue-color: #5a86a0;
$morado-color: #543743;
$grey-brown-color: #a3946b;
$green-pure-color: #2E7D32;
$blue-strong: #435a5d;

// Colores para menu
$color-rol1: #E3D4A4 ;
$color-rol2: #C2C28E;
$color-rol3: #D6E3E6;

//Colores por universidad
$color-rectorado: #3b5375;
$color-fcefyn: #ff9933;
$color-faud: #ffe100;
$color-facso: #660066;
$color-ffhh: #339966;
$color-fi: #336699;

// FONTS
$droid-font: 'Droid Sans', sans-serif;
$bitter-font: 'Bitter', serif;
$roboto-font: 'Roboto', serif;
$cabin-font: 'Cabin', sans-serif;


// NEW SIZES
$phone-width: 480px;
$tablet-width: 768px;
$notebook-width: 1025px;
$desktop-width: 1200px;

//Images URL
$url-green: '../img/fondo_institucional.png';
$url-violet: '../img/fondo_ensenanza.png';
$url-red: '../img/fondo_investigacion.png';
$url-aqua-green: '../img/fondo_extension.png';
$url-bluegrey: '../img/fondo_bienestar.png';
$url-blue: '../img/fondo_comunicacion.png';
$url-orange: '../img/fondo_internacional.png';
$url-morado: '../img/fondo_administracion.png';